/* Main */

main {
    background-color: var(--couleur-fond-noir);
    width: 100%;
    height: auto;
    border-top: 10px solid var(--couleur-principale);
}

/* Section, article et enfants */

article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5vh;
    width: 100%;
    color: var(--couleur-fond-blanc);
}

main article:first-child {
    /* margin-top: 4vh; */
    flex-direction: column;
}

main article:first-child p {
    max-width: 60vw;
    padding: 0 5vw 0 5vw;
}

article:last-child {
    margin-bottom: 0;
}

article img {
    width:100%;
    height: auto;
}

article:nth-child(odd) {
    flex-direction: row-reverse;
}

article section {
    max-width: 43vw;
    padding: 0 5vw 0 5vw;
}

article p {
    font-size: clamp(14px, 1.2vw, 30px);
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

figure {
    margin: 0;
    padding: 0;
    width: 55vw;
    max-width: 100%;
    flex-shrink: 0;
}

article section {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
}

article button {
    background-color: var(--couleur-gris);
    border: 1px solid var(--couleur-secondaire);
    color: var(--couleur-secondaire);
    font-size: clamp(18px, 1.8vw, 50px);
    font-family: 'Sofia Sans', sans-serif;
    padding: 10px 10px;
    cursor: pointer;
    width: clamp(100px, 13vw, 300px);
    height: clamp(50px, 8vh, 75px);
}

.activity-name, h1 {
    font-size: clamp(18px, 4vw, 70px);
    font-family: 'Crayon Hand Bold', cursive;
    text-align: center;
}

.details {
    display: inline-block;
    margin: 0;
    color: var(--couleur-secondaire);
    font-family: 'Open Sans', sans-serif;
}

.details-container span {
    margin: 0 8px;
    color: var(--couleur-fond-blanc);
    font-family: 'Open Sans', sans-serif;
}

#status {
    color: var(--couleur-vert);
}

/* Media Queries */
/* Gestion du flex du contenu principal */
@media (max-width: 1024px) {
    article:nth-child(odd) {
        flex-direction: column-reverse;
        gap: 4vh;
        border-bottom: 1px solid var(--couleur-gris);
    }

    article:nth-child(even) {
        flex-direction: column-reverse;
        gap: 4vh;
    }

    article:last-child {
        border-bottom: none;
    }

    article section {
        width: 75%;
        max-width: 100%;
        padding: 0;
    }
    
    article figure {
        width: 100%;
    }

    article img {
        width: 100%;
        height: auto;
    }
}